fieldset {

    padding: 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.542);
}

legend {

    text-transform: uppercase;
    font-weight: bold;
    
}

.form-cadastro {

    width: 400px;
}

@media (max-width: 768px) {

    .form-cadastro {

        padding: 70px;
        width: 370px;
    }
}